useDynLib(sva,"monotone")

importFrom(corpcor, fast.svd)

importFrom(graphics, lines, par, plot, title)

importFrom(stats, cor, density, dnorm, pf, predict, qnorm, qqline,
           qqnorm, qqplot, rgamma, smooth.spline, var)

export(f.pvalue)
export(irwsva.build)
export(num.sv)
export(sva)
export(twostepsva.build)
export(fsva)
export(ComBat)




